<div class="jumbotron center">
	<div class="container">
	<h1>About us</h1>
</div>
</div>

<h4 class="center"><br>This is my first Rails app! Nothing special, just learning and experimenting with the Ruby on Rails framework :)</h4>