
<div class="jumbotron center">
  <h1>Welcome to my app!</h1>
  <p><br>Click Here to
  	<%= link_to "Sign Up" , "#", class: "btn btn-primary btn-lg" %> or 
  	<%= link_to "Log In", "#" , class: "btn btn-success btn-lg" %>
  </p>
</div>

<p class="center">[Work in progress]</p>